@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-size: cover;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 100px;
  border-width: 1px;
  border-color: transparent;
}

.user-actions {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.login-box .user-box {
  position: relative;
}

.user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 5px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

::placeholder {
  color: #fff;
}

.btn {
  width: 130px;
  height: 45px;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-weight: bold;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  padding-right: 5px;
  padding-left: 5px;
}

.btn:hover {
  background-color: #fff;
  color: #20334a;
}

.error {
  text-align: left;
  font-size: 1em;
  color: #d81f0f;
}